@model Product.Models.Entities.Product
@{
    ViewBag.Title = "Create";
}

<h2>Update</h2>
<form action="/Product/Update/@Model.Id" method="post">
    ID: <input type="text" class="form-control" value="@Model.Id" name="Id" disabled />

    <br />Name: <input type="text" class="form-control" value="@Model.Name" name="Name" />

    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    <br>Quantity: <input type="text" class="form-control" value="@Model.Quantity" name="Quantity" />
    @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })

    <br>Price: <input type="text" class="form-control" value="@Model.Price" name="Price" />
    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })

    <input type="submit" value="Update" class="btn btn-success">

</form>
