@model List<Product.Models.Entities.Transition>
@{
    ViewBag.Title = "Transition List";
}

<h2>Transition List</h2>

<a class="btn btn-primary" href="/Product/Buy">Buy Product</a><br />
<hr>
<h3>All Transitons</h3>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Items</th>
        <th>Price</th>
        <th>Customer Id</th>
        <th>Status</th>
        <th>Date</th>
        
    </tr>

    @foreach (var t in Model)
    {
<tr>
    <td>@t.Id</td>
    <td>@t.Items</td>
    <td>@t.Price</td>
    <td>@t.CustomerId</td>
    <td>@t.Status</td>
    <td>@t.Date</td>
    <td><a href="/Product/OrderDetials/@t.Id" class="btn btn-success">Detials</a></td>
</tr>
    }

</table>





